*{
    margin: 0;
    padding: 0; /* обнулили отступы */
    box-sizing: border-box;  /* */
}

.font{
    font-family: Arial;
}

.background{
    background-color:rgba(255, 255, 255, 0.938)
}
.wrapper {
    width: 1000px;
    top: 50px;
    left: -200px;
    margin: 0 auto;
    margin-bottom:100px;
    color: rgb(20, 19, 7); /* text color */
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px rgba(12, 9, 9, 0.5); 
    border: 1px solid black;
}

.header {
    position: relative;  /*  CSS-властивість position вказує, як елемент розміщено в документі. А властивості top, right, bottom, та left визначають остаточне положення елемента */
    display: flex;          /*  Чтобы элемент стал flex-контейнером, ему надо присвоить display: flex; или display: inline-flex; (блочный или строчный соответственно) */
    flex-direction: row;
    color: white;
    height: 300px;
    }
.MyName{
    margin-top: 72px;
    margin-left: 15px;
    font-family: Arial;
    font-size: 45px;
    width:500px;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);*/  /* Это обводочка букв, если нужно */
}


.MyDate
{
    margin-top: 2px;
    margin-left: 15px;
    font-family: Arial;
    font-size: 25px;
    width:500px;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
}

.blackTitle{
    color:rgba(30, 87, 192, 0.589);
    text-shadow: none;
}
.leftHeader{  /* under the naame and date*/
    width:369px;
    height:100%;
    background-color:rgba(30, 87, 192, 0.589);
    margin-left:46px;
}

.main{    /* all resume block */
    display: flex;
}

.leftSide{  /* the blue block */
    height: 800px;
    }

.leftSideBlocks{
    margin-left:46px;
    width:369px;
    /*height: 200px;*/
    background-color: rgba(30, 87, 192, 0.589);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0 rgb(0, 0, 0);  
    padding: 10px;
    height: 100%;

}

.leftSideP{
    margin: 15px; 
    line-height: 20px; /* space between the lines*/
    text-align: center;
    }

.image{
        width: 369px;
        height: 463px;
        position: relative;
        top: -50px;

    }


.article{
    padding: 30px;   /* Свойство padding устанавливает внутренние отступы/поля со всех сторон элемента */ 
    margin: auto;
    text-align: left;
   /*display: flex;
    flex-direction: column*/
    position: relative;
    bottom: 40px;
}

.margin{

    margin: 2px;
}

.headerArticle{
    margin-top: 5px;
    line-height: 30px;
}

.headerText{
    margin-top: 5px;
    line-height: 23px;
    font-weight: normal;
}

.line {
    width: 2px; 
    height: 180px;
    background: rgb(30, 87, 192, 0.589);
    position: absolute;
    top: 1px;
    right: 200px;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    }

.cube {
        width: 50px; 
        height: 50px;
        background:rgb(30, 87, 192, 0.589);
        position: absolute;
        top: 220px;
        right: 0px;
        text-shadow: 1px 1px 0 rgb(0, 0, 0);
        }   
